body {
    font-family: "Corbel";
    background-color: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}


input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]
{
    background: #fff;
    width: 440px;
    height: 40px;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}

input[type="submit"]
{
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 100px;
    height: 40px;
    color: white;
    background-color: darkslateblue;
    border: none;
    outline: none;
    left: -5px;
}

/* Custom Classes */
.btn {
    background-color: darkslateblue;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
}

.btn-2 {
    background-color: darkslateblue;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
}

.content {
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-50);
    text-align: center;
}


.inline {
    display: inline-flex;
    margin-top: 60px;
}

.inline-f {
    display: inline-flex;
}

.mlr {
    margin-right: 70px;
}

.lead{
    font-weight: lighter;
    margin-top: 20px;
}

.center{
    text-align: center;
    margin-top: 45px;
}

.card {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.9s;
}

/* Bacground Colors */
.bg-whitesmoke{
    background-color: rgb(223, 233, 236);
    height: 300px;
    text-align: center;
}

/* Margins */
.mt-17{
    margin-top: 17px;
}

.mt-20{
    margin-top: 20px;
}

.mb-25{
    margin-bottom: 25px;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-20{
    padding-top: 60px;
}

.ml-80 {
    margin-left: 80px;
}
/* Paddings */
.pt-4{
    padding-top: 4px;
}
